################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/3mal-osztható-számok-20ig/.vs/3mal-osztható-számok-20ig/FileContentIndex/f10c802c-bcba-4341-ac43-bfc649484bb7.vsidx
